<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NASATaskMaster">
        <activity
            android:name=".Map"
            android:exported="false" />
        <activity
            android:name=".TaskMoreScreen"
            android:exported="false" />
        <activity
            android:name=".TaskDetailScreen"
            android:exported="false" />
        <activity
            android:name=".AddTaskScreen"
            android:exported="false" />
        <activity
            android:name=".HomeScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".EquipmentMainActivity"
            android:exported="true" />
        <activity
            android:name=".AddNewEquipment"
            android:exported="false" />
        <activity
            android:name=".EquipmentDetails"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.AIzaSyBXRxaFwo3wHNy1m3Kw1Gt_Sw1jvyz0eRA"
            android:value="AIzaSyBXRxaFwo3wHNy1m3Kw1Gt_Sw1jvyz0eRA"/>

    </application>

</manifest>